# Виртуальное окружение (Venv)
.venv/
venv/
ENV/
env/

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Секреты
.env
*.env
secrets.yaml
*.session

# Настройки сред разработки
.kilo/
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Логи и сборка
*.log
dist/
build/
*.egg-info/